.App {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: fixed;
	background: linear-gradient(#3e3e3e, #262626);
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #bebebe;
}

.App .container {
	width: 100%;
	max-width: 800px;
	margin: auto;
}

.App .player {
	height: 3rem;
	padding: 0.25rem;
	box-sizing: border-box;
}

.App .tracks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
}

.App ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	max-height: 100%;
	overflow-y: auto;
}

.App li {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	list-style: none;
	max-height: 4rem;
	padding: 0.5rem .75rem;
	background-color: #2b2b2b;
	cursor: pointer
}

.App li.track {
	justify-content: space-between;
	font-size: 0.9rem;
}

.App li:nth-child(even) {
	background-color: #414141;
}

.App li.selected-item {
	background-color: #3e1749;
	pointer-events: none;
}

.App li img {
	max-height: inherit;
}